/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Normalizing*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: Rockwell,Courier,Courier,Georgia,Times,Times New Roman,serif;
 }

 main {
   flex: 1 0 auto;
 }
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Nav Bars*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.nav-titledh {
  padding-left: 20px !important;
}
.nav-optdh {
  margin: 20px;
}
.nav-optdh-bot {
  position: relative;
  transform: translate(5px, -20px);
}
.backing {
  z-index: -10;
  position: absolute;
  height: auto;
}
.in-b-line {
  display: inline-block;
}
.art-but {
  height:64px;
  width:117px;
  color:white;
  position: relative;
  transform: translate(0px, -35px);
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/**/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.sml-box {
  width:80%;
}
