/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Normalizing*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: "Open Sans";
   font-size: 18px;
 }
 main {
   flex: 1 0 auto;
 }
.row {
  margin-bottom: 0 !important;
}
blockquote {
  border-left: 5px solid #1E88E5 !important;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Nav Bars*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.nav-titledh {
  padding-left: 20px !important;
}
.nav-optdh {
  margin: 20px;
}
.nav-optdh-bot {
  position: relative;
  transform: translate(5px, -20px);
}
.button-width {
  width:155px;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Misc*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.backing {
  z-index: -10;
  position: absolute;
  height: auto;
}
.in-b-line {
  display: inline-block;
}
.art-but {
  height:64px;
  width:117px;
  color:white;
  position: relative;
  transform: translate(0px, -35px);
}
.boarder-light {
  border: 1px lightgrey solid;
  border-radius: 7px;
  margin: 30px;
  padding: 15px;
}
.squeeze {
  padding-left: 20px;
  padding-right: 20px;
}
.buffs {
  margin-bottom: 20px;
}
.rounded {
  border-radius: 3px;
}
.blog-img {
  height: 100px;
  width: 150px;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Customization for images*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.sml-box {
  width:150px;
  height:150px;
  margin:25px;
}
.lrg-box {
  width:350px;
  height:400px;
}
.aboutBox {
  width: 600px;
  height: 400px;
}
.contact {
  border-style: solid;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Image position adjustments*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.pos1 {
  transform: translate(30px,0px);
}
.pos2 {
  transform: translate(-15px,0px);
}
.pos3 {
  transform: translate(0px,35px);
}
.pos4 {
  transform: translate(50px,0px);
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*On the Slab CSS*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.slab-title {
  margin-top: 30px;
}
.slabSqueese {
  margin-left: 40px;
  margin-right: 40px;
}
.right-buff {
  margin-left: 30px;
}
