<div class="container">

  <div class="row">
    <div class="col l6 s6">
      <img class="lrg-box in-b-line buffs z-depth-2" src="../images/Celebration1Web.jpg">
    </div>
    <div class="col l6 s6">
      <div class="aboutBox buffs">
        <div class="in-b-line">
          <h5 class="center-align">About David Holland</h5>
          <p class="nav-optdh">David is a sculptor living in Broomfield, CO with more degrees in engineering and art, not that any of that matters.</p>
        </div>
      </div>
    </div>
  </div>
</div>
