<div class="container">

  <div class="row">
    <div class="col l6 s6 valign-wrapper">
      <img class="lrg-box in-b-line  z-depth-2 valign" src="../images/Celebration1Web.jpg">
    </div>
    <div class="col l6 s6 valign-wrapper">
      <div class="aboutBox z-depth-1 valign">
        <div class="in-b-line">
          <h5 class="center-align nav-optdh">About David Holland</h5>
          <div class="container">
            <div class="divider"></div>
            <div class="section">
              <p class="nav-optdh">David is a sculptor living in Broomfield, CO with more degrees in engineering and art, not that any of that matters.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
