<div class="container" style="height:100%">

  <div class="row valign-wrapper">
    <div class="col l6 s6">

      <!-- Editable -->
      <!-- this is where you change the link to your about page img || -->
      <img class="lrg-box in-b-line  z-depth-2 valign" src="images/DaveH.jpg">

    </div>
    <div class="col l6 s6 valign">
      <div class="aboutBox z-depth-1 valign">
        <div class="in-b-line">
          <h5 class="center-align nav-optdh">About David Holland</h5>
          <div class="container">
            <div class="divider"></div>
            <div class="section">

              <!-- Editable -->
              <!--This is the section that contains your About page description -->
              <p class="nav-optdh">David is a sculptor living in Broomfield, CO with more degrees in engineering and art, not that any of that matters.</p>
              <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
