<div class="container">
  <div class="row center-align">
    <div class="col l3 s3">
      <div class="valign-wrapper right-align">
        <a ui-sref="BodyBuilding">
          <img class="sml-box z-depth-2 valign right-align" src="images/Early Explorations/Body Parts/EE-BodyParts-DiscoverFeelingDetail.jpg" />
          <p class="imgDescription">Body Building</p>
        </a>
      </div>
      <div class="valign-wrapper left-align">
        <div class="sml-box">
          <a ui-sref="Bodies">
            <img class="z-depth-2 valign left-align gImg" src="images/Bodies/Bodies-IamofMyFather.jpg" />
            <p class="imgDescription center-align">Bodies</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col l6 s6 center-align">
      <a class="center-align" ui-sref="Home">
        <div class="center-align buffs-top">
          <img class="lrg-box z-depth-2" src="images/Humility-PedestalonWall1200.jpg" />
          <p class="imgDescription">Read About It...</p>
        </div>
      </a>
    </div>
    <div class="col l3 s3">
      <div class="valign-wrapper center-align ">
        <a class="center-align" ui-sref="Minatures">
          <img class="sml-box z-depth-2 valign center-align" src="images/Minatures/Mini-LittleStool-PortraitofMyFather.jpg" />
          <p class="imgDescription">Minatures + Recreations</p>
        </a>
      </div>
      <div class="valign-wrapper center-align pos4">
        <a class="center-align" ui-sref="EarlyExplorations">
          <img class="sml-box z-depth-2 valign center-align" src="images/Early Explorations/Body Parts/EE-BodyParts-PreciousFew.jpg" />
          <p class="imgDescription">Early Explorations</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row center-align buffs">
    <div class="col l3 s3 valign-wrapper">
      <a ui-sref="BodyMap">
        <div class="center-align valign">
          <img class="in-b-line sml-box z-depth-2" src="images/Body Maps/BodyMaps-SkinMapofChicago.jpg" />
          <p class="imgDescription">Body Map</p>
        </div>
      </a>
    </div>
    <div class="col l3 s3 valign-wrapper">
      <div class="pos3">
        <a ui-sref="Stonework">
          <div class="center-align valign">
            <img class="in-b-line sml-box z-depth-2" src="images/Stonework/Stonework-StoneHeart.jpg" />
            <p class="imgDescription">Stonework</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col l3 s3 valign-wrapper">
      <div class="pos3">
        <a ui-sref="Installations">
          <div class="center-align valign">
            <img class="in-b-line sml-box z-depth-2" src="images/Installations/Install-MIADCeilingHeartJunct.jpg" />
            <p class="imgDescription">Installations</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col l3 s3 valign-wrapper">
      <a ui-sref="Installations">
        <div class="center-align valign">
          <img class="in-b-line sml-box z-depth-2" src="images/Installations/Install-MIADCeilingHeartJunct.jpg" />
          <p class="imgDescription">Future Gallery</p>
        </div>
      </a>
    </div>
  </div>
</div>
