<div class="container">
  <div class="row center-align">
    <h1>Artwork</h1>
    <div class="col l3 s3">
      <div class="valign-wrapper center-align pos1">
        <a ui-sref="BodyBuilding">
          <div class="gallery-image1">
            <img class="responsive-img left-align rel" src="images/Body and Building/B&B-TransmissionDetail.jpg">
          </div>
          <p>Body Building</p>
        </a>
      </div>
      <div class="valign-wrapper center-align pos2">
        <a ui-sref="Bodies">
          <div class="gallery-image1">
            <img class="responsive-img left-align rel" src="images/Bodies/Bodies-IamofMyFather.jpg">
          </div>
          <p>Bodies</p>
        </a>
      </div>
    </div>
    <div class="col l6 s6 center-align">
      <a class="center-align" ui-sref="Home">
        <div class="center-align buffs-top">
          <img class="lrg-box" src="images/Humility-PedestalonWall1200.jpg" />
          <p>Read About It...</p>
        </div>
      </a>
    </div>
    <div class="col l3 s3">
      <div class="valign-wrapper center-align ">
        <a class="center-align" ui-sref="Minatures">
          <div class="gallery-image1">
            <img class="responsive-img left-align rel" src="images/Minatures/Mini-LittleStool-PortraitofMyFather.jpg">
          </div>
          <p>Minatures + Recreations</p>
        </a>
      </div>
      <div class="valign-wrapper center-align pos4">
        <a class="center-align" ui-sref="EarlyExplorations">
          <div class="gallery-image1">
            <img class="responsive-img rel" src="images/Early Explorations/Figures/EE-Figures-HowFeltDetail.jpg">
          </div>
          <p>Early Explorations</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row center-align buffs1">
    <div class="col l3 s3 valign-wrapper">
      <a ui-sref="BodyMap">
        <div class="center-align valign">
          <div class="gallery-image1">
            <img class="responsive-img rel" src="images/Body Maps/BodyMaps-SkinMapofChicagoDetail.jpg">
          </div>
          <p class="imgDescriptionAlt">Body Map</p>
        </div>
      </a>
    </div>
    <div class="col l3 s3 valign-wrapper">
      <div class="pos3">
        <a ui-sref="Stonework">
          <div class="center-align valign">
            <div class="gallery-image1">
              <img class="responsive-img rel" src="images/Stonework/Stonework-StoneHeart.jpg">
            </div>
            <p>Stonework</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col l3 s3 valign-wrapper">
      <div class="pos3">
        <a ui-sref="Installations">
          <div class="center-align valign">
            <div class="gallery-image1">
              <img class="responsive-img rel" src="images/Installations/Install-PumpWUDetail.jpg">
            </div>
            <p>Installations</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col l3 s3 valign-wrapper">
      <a ui-sref="Artwork">
        <div class="center-align valign">
          <div class="gallery-image1">
            <img class="responsive-img rel" src="images/EarlyExplorationPhoto2.jpg">
          </div>
          <p class="imgDescriptionAlt">Future Gallery</p>
        </div>
      </a>
    </div>
  </div>
</div>
