<!-- <img class="responsive-img backing" src="images/Cir-back.png"> -->

<div class="container">
  <div class="row center-align">
    <div class="col l3">
      <div class="valign-wrapper center-align pos1">
        <a ui-sref="Gallery">
          <img class="sml-box z-depth-2 valign center-align" src="images/Early Explorations/Body Parts/EE-BodyParts-DiscoverFeelingDetail.jpg" />
          <p class="imgDescription">Body Building</p>
        </a>
      </div>
      <div class="valign-wrapper center-align pos2">
        <a ui-sref="Gallery">
          <img class="sml-box z-depth-2 valign center-align" src="images/Bodies/Bodies-IamofMyFather.jpg" />
          <p class="imgDescription">Bodies</p>
        </a>
      </div>
    </div>
    <div class="col l6 center-align">
      <a class="center-align" ui-sref="Gallery">
        <div class="center-align">
          <img class="lrg-box z-depth-2" src="images/Humility-PedestalonWall1200.jpg" />
          <p class="imgDescription">Read About It...</p>
        </div>
      </a>
    </div>
    <div class="col l3">
      <div class="valign-wrapper center-align ">
        <a class="center-align" ui-sref="Gallery">
          <img class="sml-box z-depth-2 valign center-align" src="images/Minatures/Mini-LittleStool-PortraitofMyFather.jpg" />
          <p class="imgDescription">Recent Work</p>
        </a>
      </div>
      <div class="valign-wrapper center-align pos4">
        <a class="center-align" ui-sref="Gallery">
          <img class="sml-box z-depth-2 valign center-align" src="images/Early Explorations/Body Parts/EE-BodyParts-PreciousFew.jpg" />
          <p class="imgDescription">Early Explorations</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row center-align buffs">
    <div class="col l4 valign-wrapper">
      <a ui-sref="Gallery">
        <div class="center-align valign">
          <img class="in-b-line sml-box z-depth-2" src="images/Body Maps/BodyMaps-SkinMapofChicago.jpg" />
          <p class="imgDescription">Body Map</p>
        </div>
      </a>
    </div>
    <div class="col l4 valign-wrapper">
      <div class="pos3">
        <a ui-sref="Gallery">
          <div class="center-align valign">
            <img class="in-b-line sml-box z-depth-2" src="images/Stonework/Stonework-StoneHeart.jpg" />
            <p class="imgDescription">Stonework</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col l4 valign-wrapper">
      <a ui-sref="Gallery">
        <div class="center-align valign">
          <img class="in-b-line sml-box z-depth-2" src="images/Installations/Install-MIADCeilingHeartJunct.jpg" />
          <p class="imgDescription">Installations</p>
        </div>
      </a>
    </div>
  </div>
</div>
