<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Bodies</h2>
  <div class="nav-optdh">
    <div class="divider center-align"></div>
  </div>
  <div class="row">
     <!-- col l3 s6 gallery-image -->
    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-EndlessStoolBott.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-EndlessStoolTop.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-HattlerackDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-HattlerackOverview.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-IamofMyFather.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-IamofMyFatherFigureOverview.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-TraditionCorset.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-TraditionOverview.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-TraditionOverviewBack.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="gImg materialbox" src="images/Bodies/Bodies-TraditionSceptCrwn.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
