<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Bodies</h2>
  <div class="nav-optdh">
    <div class="divider center-align"></div>
  </div>
  <div class="row center-align">
     <!-- imgBlok gallery-image -->
    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-HattlerackOverview.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-HattlerackDetail.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-IamofMyFather.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-IamofMyFatherFigureOverview.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-EndlessStoolBott.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-EndlessStoolTop.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-TraditionOverview.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-TraditionOverviewBack.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-TraditionCorset.jpg">
    </div>

    <div class="imgBlok gallery-image in-b-line">
      <img class="gImg" src="images/Bodies/Bodies-TraditionSceptCrwn.jpg">
    </div>
  </div>
</div>
