<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Body Parts</h2>
  <div class="nav-optdh">
    <div class="divider center-align"></div>
  </div>

  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=- -->
  <!-- Row 1 -->
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=- -->
  <div class="row">
    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-Adventist.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-AdventistDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-DiscoverFeeling.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-DiscoverFeelingDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-PreciousFew.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-PreciousFewDetail.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
