<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Body Map</h2>

  <div class="row">
    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Body Maps/BodyMaps-MilwaukeeMap.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Body Maps/BodyMaps-MilwaukeeMapDetail1.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Body Maps/BodyMaps-MilwaukeeMapDetail2.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Body Maps/BodyMaps-SkinMapofChicago.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Body Maps/BodyMaps-SkinMapofChicagoDetail.jpg">
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
