<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Body Building</h2>
  <div class="nav-optdh">
    <div class="divider center-align"></div>
  </div>
  <div class="row">
    <ul>
      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-Conundrum.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-HeartBuild.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-HeartBuildDetail.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-HouseMyFatherBuilt.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-HouseMyFatherBuiltDetail.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-Leg.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-LegDetail.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-Pendulum.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-Short.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-Transmission.jpg">
      </div>

      <div class="col l2 s4 gallery-image">
        <img class="materialboxed responsive-img center-align" src="images/Body and Building/B&B-TransmissionDetail.jpg">
      </div>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
