<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Body Map</h2>
  <div class="row col s12">
    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed" src="http://placehold.it/250x200">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed" src="http://placehold.it/250x200">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed" src="http://placehold.it/250x200">
    </div>

    <div class="nav-optdh gallery-image ">
      <img class="materialboxed" src="http://placehold.it/250x200">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
