<div class="container">
  <div class="row">
    <form class="col s12 contact">
      <h4>Send me an email to connect...</h4>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text">
          <label for="email">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="comment" type="text">
          <label for="comment">Comment for David Holland</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn nav-optdh blue darken-1" >Send It</a>
    </form>
  </div>

</div>
