<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Interested in purchasing some work?</h4>
      <p>I am very keen on remaking some of my work in smaller more manageable pieces for you own viewing pleasure. I think that all of my pieces look better the second time around so hit me up and we can get this sculpting party train moving!!!! </p>
    </div>
  </div>

  <div class="row" style="padding:30px;">
    <form class="col s12 z-depth-3">
      <h4 class="center-align">Send me an email to connect...</h4>
      <div class="container">
        <div class="divider"></div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text">
          <label for="email">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="comment" type="text">
          <label for="comment">Comment for David Holland</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn nav-optdh blue darken-1" >Send It</a>
    </form>
  </div>

</div>
