<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Early Explorations</h2>
  <div class="row col s12">
    <div class="nav-optdh gallery-image in-b-line">
      <a ui-sref="BodyParts">
        <img src="http://placehold.it/250x200">
        <p class="imgDescription">Body Parts</p>
      </a>
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <a ui-sref="EngineeringDetails">
        <img src="http://placehold.it/250x200">
        <p class="imgDescription">Engineering Details</p>
      </a>
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <a ui-sref="Figures">
        <img src="http://placehold.it/250x200">
        <p class="imgDescription">Figures</p>
      </a>
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <a ui-sref="Linear">
        <img src="http://placehold.it/250x200">
        <p class="imgDescription">Linear</p>
      </a>
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <a ui-sref="StrangeMachines">
        <img src="http://placehold.it/250x200">
        <p class="imgDescription">Strange Machines</p>
      </a>
    </div>
  </div>

  <!-- <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script> -->

</div>
