<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Early Explorations</h2>
  <div class="row">
    <div class="col l3 s6 gallery-image">
      <a ui-sref="BodyParts">
        <img class=" responsive-img" src="images/Early Explorations/Body Parts/EE-BodyParts-Adventist.jpg">
        <p class="imgDescription">Body Parts</p>
      </a>
    </div>

    <div class="col l3 s6 gallery-image">
      <a ui-sref="EngineeringDetails">
        <img class=" responsive-img" src="images/Early Explorations/Engineering Details/EE-EngDet-Cantilever.jpg">
        <p class="imgDescription">Engineering Details</p>
      </a>
    </div>

    <div class="col l3 s6 gallery-image">
      <a ui-sref="Figures">
        <img class=" responsive-img" src="images/Early Explorations/Figures/EE-Figures-BoundandWound.jpg">
        <p class="imgDescription">Figures</p>
      </a>
    </div>

    <div class="col l3 s6 gallery-image">
      <a ui-sref="Linear">
        <img class=" responsive-img" src="images/Early Explorations/Linear/EE-Linear-Anxieties.jpg">
        <p class="imgDescription">Linear</p>
      </a>
    </div>

    <div class="col l3 s6 gallery-image">
      <a ui-sref="StrangeMachines">
        <img class=" responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-HeartBot.jpg">
        <p class="imgDescription">Strange Machines</p>
      </a>
    </div>
  </div>


</div>
