<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Figures</h2>
  <div class="row">
    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Figures/EE-Figures-BoundandWound.jpg">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Figures/EE-Figures-HowFeltDetail.jpg">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Figures/EE-Figures-HowItFelt.jpg">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Figures/EE-Figures-LastBreath1.jpg">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Figures/EE-Figures-LastBreath2.jpg">
    </div>

    <div class="nav-optdh gallery-image in-b-line">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Figures/EE-Figures-PortraitEnemy.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
