<!-- <img class="responsive-img backing" src="images/Cir-back.png"> -->

<div class="container">
  <div class="row center-align">
    <div class="col l3">
      <div class="valign-wrapper">
        <img class="sml-box z-depth-2 valign" src="images/DiscoverFeelingDetailWeb.jpg" />
      </div>
      <div class="valign-wrapper">
        <img class="sml-box z-depth-2 valign" src="images/IamofMyFatherFigure2.jpg" />
      </div>
    </div>
    <div class="col l6 center-align">
      <img class="lrg-box z-depth-2" src="images/Humility-PedestalonWall1200.jpg" />
    </div>
    <div class="col l3">
      <img class="sml-box z-depth-2" src="images/PinandRollerWeb.jpg" />
      <img class="sml-box z-depth-2" src="images/HowFeltDetailWeb.jpg" />
    </div>
  </div>
  <div class="row center-align">
    <div class="col l4">
      <img class="in-b-line sml-box z-depth-2" src="images/SkinMapofChicagoDetailWeb.jpg" />
    </div>
    <div class="col l4">
      <img class="in-b-line sml-box z-depth-2" src="images/StoneHeartWeb.jpg" />
    </div>
    <div class="col l4">
      <img class="in-b-line sml-box z-depth-2" src="images/TraditionFigure.jpg" />
    </div>
  </div>
</div>
