
  <img class="responsive-img backing" src="images/brush-cir4.png">

  <div class="container">
    <div class="row">
      <div class="col l3">
        <img class="responsive-img shadowed cir-border" src="images/DiscoverFeelingDetailWeb.jpg" />
        <img class="responsive-img shadowed cir-border cir-side-left" src="images/IamofMyFatherFigure2.jpg" />
      </div>
      <div class="col l6 center-align">
        <img class="responsive-img shadowed cir-border-main" src="images/Humility-PedestalonWall1200.jpg" />
      </div>
      <div class="col l3">
        <img class="responsive-img shadowed cir-border" src="images/PinandRollerWeb.jpg" />
        <img class="responsive-img shadowed cir-border" src="images/HowFeltDetailWeb.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="col l4">
        <img class="responsive-img shadowed cir-border in-b-line" src="images/SkinMapofChicagoDetailWeb.jpg" />
      </div>
      <div class="col l4">
        <img class="responsive-img shadowed cir-border in-b-line" src="images/StoneHeartWeb.jpg" />
      </div>
      <div class="col l4">
        <img class="responsive-img shadowed cir-border in-b-line" src="images/TraditionFigure.jpg" />
      </div>
    </div>
  </div>
