<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Installations</h2>
  <div class="row">
    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-FlockWashU.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-FlockWashUDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-Heart1.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-Heart1WallShadow.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-Inside-OutDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-Inside-OutOverview.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-MIADCeilingDrain.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-MIADCeilingDrain2.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-MIADCeilingHeartJunct.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-MIADCeilingHeartJunct2.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-MIADCeilingMetro.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-MIADCeilingMetro2.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-Pulse.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-PulseDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-PumpWU.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Installations/Install-PumpWUDetail.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
