<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Linear</h2>
  <div class="row col s12">
    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Anxieties.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-AnxietiesDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-At21.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-At21Detail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Continuity.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Down.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Mr.Resistor.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Out.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Surge.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-Truth.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed respsonsive-img" src="images/Early Explorations/Linear/EE-Linear-TruthDetail.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
