<div class="container">

<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <!-- left column -->
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <div class="row">
    <h1><strong class="center-align">David Holland Sculpture</strong></h1>
  </div>
  <div class="row">
    <div class="col l8 z-depth-1">
      <h4 class="center-align">On the Slab...</h4>
      <div class="">
        <div class="container">
          <div class="divider"></div>
        </div>
        <h4 class="center slab-title">Humility Wall Pedestal</h4>
        <div class="container">
          <div class="divider"></div>
        </div>
        <div class="row section">
          <div class="col l12 s12">
            <span class="center-align"><h6>Project Title</h6></span>
          </div>
          <div class="col l12 s12">
            <img class="nav-optdh" src="images/Humility-PedestalonWall1200.jpg" style="height:350px;">
            <img class="nav-optdh" src="images/Humility-PedestalonWall1200.jpg" style="height:350px;">
          </div>
        </div>
        <div class="container">
          <div class="divider"></div>
        </div>
        <div class="boarder-light">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatibus corporis quisquam dolorum placeat deleniti a quasi, vero in itaque?</p>
        </div>
        <a class="waves-effect waves-light btn nav-optdh blue darken-1">Read More...</a>
      </div>

      <div class="boarder-light">
        <div class="row">
          <div class="input-field nav-optdh">
            <input id="input_text" type="text" length="10">
            <label for="input_text"><h6>Subject</h6></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field nav-optdh">
            <textarea id="textarea1" class="materialize-textarea" length="140"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <a class="waves-effect waves-light btn nav-optdh blue darken-1">Send It</a>
      </div>
    </div>
  </div>

  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- left column -->
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

  <div class="col l4 z-depth-1">

  </div>
</div>
