<div class="slabSqueese">

  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <!-- left column -->
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <div class="row">
    <h1 class="center-align">
      <strong>David Holland Sculpture</strong>
    </h1>
  </div>
  <div class="row in-b-line">
    <div class="col l7 z-depth-1 slabSqueese in-b-line">
      <h3 class="center-align">On the Slab...</h3>

      <div class="container">
        <div class="divider"></div>
      </div>

      <h5 class="center slab-title">Humility Wall Pedestal</h5>
      <div class="row section">
        <div class="col l12 s12">
        </div>
        <div class="col l12 s12 center-align">
          <img class="nav-optdh" src="/images/Humility-PedestalonWall1200.jpg" style="height:350px;">
          <img class="nav-optdh" src="/images/Humility-PedestalonWall1200.jpg" style="height:350px;">
        </div>
      </div>
      <div class="boarder-light">
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium unde quo corporis quasi quisquam. Similique, quos porro voluptas, recusandae, numquam rerum in obcaecati eligendi nam iste fugiat quasi tenetur aliquam.</span>
          <span>Ad dicta accusamus optio tempora, dolores, voluptates consequuntur laborum amet doloremque cumque dolor ipsum nostrum. Mollitia eligendi tempora, saepe itaque consequuntur et sit rem provident totam fugit! Obcaecati ea, culpa?</span>
          <span>Unde accusantium ad, earum maiores illo! Itaque laudantium sed, aperiam, temporibus fuga vitae repellendus suscipit sapiente veniam necessitatibus iure expedita dolores deleniti optio sunt molestias. Omnis beatae labore at molestias.</span>
        </p>

        <p>This is the place you can write about your newest project.</p>
      </div>

      <div class="container">
        <div class="divider"></div>
      </div>

      <div class="boarder-light">
        <div class="row">
          <p>
            <h5 style="padding-left:20px;">Share Your Thoughts</h5>
          </p>
          <div class="input-field squeeze">
            <input id="input_text" type="text" length="10" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="input-field squeeze">
            <textarea id="textarea1" class="materialize-textarea" length="60" placeholder="Thoughts..."></textarea>
          </div>
          <a class="waves-effect waves-light btn blue darken-1 right">Send It</a>
        </div>
      </div>

      <div class="container">
        <div class="divider"></div>
      </div>

      <div class="boarder-light">
        <h5>~ Kyle Miller</h5>
        <blockquote>
          I felt the complexity of this image based off of something that I felt/I am an art major and I know what I am talking about. This piece invoked this emotion and I am now a complete humanbeing. ....
        </blockquote>

        <h5>~ Archit Mahto</h5>
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ad nesciunt commodi, magni adipisci architecto explicabo sit porro, odio dicta ipsa mollitia veniam in necessitatibus consequatur, quod assumenda fugiat, sapiente?
        </blockquote>
      </div>

    </div>

      <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
      <!-- Right column -->
      <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

    <div class="col l4 z-depth-1 slabSqueese in-b-line">
      <!-- Featured Blog -->
      <div class="boarder-light">
        <h5>Featured Blog Post</h5>

        <div class="container">
          <div class="divider"></div>
        </div>
        <h6 style="color:#A9A9A9;">March 6, 2016</h6>
        <img class="blog-img" src="images/Functional/Functional-EJH3-4View.jpg"/>
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magni laboriosam quidem id esse veniam, quia dolorum eaque ratione consequatur voluptatibus, adipisci ducimus rem sapiente hic asperiores enim in, debitis?</span>
        </p>
        <p>
          This is the featured blog post.
        </p>
      </div>

      <!-- Recent Blog -->
      <div class="boarder-light">
        <h5>Recent Blog Post</h5>

        <div class="container">
          <div class="divider"></div>
        </div>
        <h6 style="color:#A9A9A9;">March 6, 2016</h6>
        <img class="blog-img" src="images/Functional/Functional-WDHBags1.jpg"/>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatibus quis quod facere minus numquam mollitia harum nihil, tenetur, incidunt itaque, ipsam commodi officia sit illum excepturi, quos odit placeat!
        </p>
        <p>
          This is the most recent blog post that you made.
        </p>
      </div>

    </div>

  </div>
