<div class="slabSqueese">

  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <!-- left column -->
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <div class="row">
    <h1>
      <strong class="center-align">David Holland Sculpture</strong>
    </h1>
  </div>
  <div class="row">
    <div class="col l7 z-depth-1 slabSqueese">
      <h3 class="center-align">On the Slab...</h3>
      <div class="">
        <div class="container">
          <div class="divider"></div>
        </div>
        <h5 class="center slab-title">Humility Wall Pedestal</h5>
        <div class="container">
          <div class="divider"></div>
        </div>
        <div class="row section">
          <div class="col l12 s12">
          </div>
          <div class="col l12 s12 center-align">
            <img class="nav-optdh" src="images/Humility-PedestalonWall1200.jpg" style="height:350px;">
            <img class="nav-optdh" src="images/Humility-PedestalonWall1200.jpg" style="height:350px;">
          </div>
        </div>
        <div class="boarder-light">
          <p>This is the place you can write about your newest project. This is the place you can write about your newest project. This is the place you can write about your newest project. This is the place you can write about your newest project.</p>
          <p>This is the place you can write about your newest project. This is the place you can write about your newest project. This is the place you can write about your newest project. This is the place you can write about your newest project.</p>
        </div>
        <div class="card-action">
          <a class="blue-text text-darken-1" href="#">Read More</a>
        <div class="container">
          <div class="divider"></div>
        </div>
      </div>

      <div class="boarder-light">
        <div class="row">
          <p>
            <h5 style="padding-left:20px;">Comment</h5>
          </p>
          <div class="input-field squeeze">
            <input id="input_text" type="text" length="10" placeholder="Subject">
          </div>
        </div>
        <div class="row">
          <div class="input-field nav-optdh">
            <textarea id="textarea1" class="materialize-textarea" length="60" placeholder="I like that sculpting"></textarea>
          </div>
        </div>
        <a class="waves-effect waves-light btn nav-optdh blue darken-1">Send It</a>
      </div>
    </div>

    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- Right column -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

    <div class="col l4 z-depth-1 slabSqueese">
      this is how we do it baby
    </div>

  </div>
</div>
