<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Stonework</h2>
  <div class="nav-optdh">
    <div class="divider center-align"></div>
  </div>
  <div class="row col s12">
    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Celebration1.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Celebration2.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Infinity.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Ironhead.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-IronheadBackDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-IronheadFrontkDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Nemo.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-No.7Back.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-No.7Front.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-PartlySunny.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-PartlySunnyDetail1.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-PartlySunnyDetail2.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Poised1.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-ReachKnowledgeBack.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-ReachKnowledgeFront.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-ScratchBack.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-ScratchFront.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-SomeSwayed.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-SomeSwayedDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-StoneHeart.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-StretchBack.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-StretchFront.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Stonework/Stonework-Zartman.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
