<!-- needs backend hookup for title of display -->
<div class="container">
  <h2 class="center-align">Strange Machines</h2>
  <div class="nav-optdh">
    <div class="divider center-align"></div>
  </div>

  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=- -->
  <!-- Row 4 -->
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=- -->
  <div class="row">
    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-HeartBot.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-HeartBotDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-HeartMachine.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-HeartMachineDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-IdolDestruction.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-Incubot.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-IncubotDetail.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-Pump.jpg">
    </div>

    <div class="col l3 s6 gallery-image">
      <img class="materialboxed responsive-img" src="images/Early Explorations/Strange Machines/EE-StrangeMach-PumpSide.jpg">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>

</div>
